:root
{
    --skill-section-width: 90%;
    --skill-card-width: 35%;
    --skill-card-min-width: 262px;
}

#skills-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--skill-section-width);
}

.skill-card
{
    width: var(--skill-card-width);
    aspect-ratio: 4/3;
    min-width: var(--skill-card-min-width);
    transition: transform 0.5s ease;
}

.skill-card > img
{
    width: 100%;
    height: 100%;
}

.skill-card:hover{transform: scale(1.05);}

.skill-card-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.25s ease;
    text-align: center;
    border-radius: var(--bs-card-border-radius);
}

.skill-card-overlay > span
{
    display: block;
    font-size: calc(2em + 1vw);
    font-weight: 900;
    color: white;
}


.skill-card:hover .skill-card-overlay
{
    opacity: 1;
}

@media (max-width: 576px) 
{
    #skills-section
    {
        width: 100%;
    }

    .skill-card
    {
        width: 42%;
        aspect-ratio: 1/1;
        min-width: calc(var(--skill-card-min-width) / 1.5);
    }

    .skill-card-overlay > div{font-size: 1.25rem;}
}