#skills-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card
{
    transition: transform 0.5s ease;
}

.skill-card > img
{
    width: 30rem; 
    height: 26rem;
}

.skill-card:hover{transform: scale(1.05);}

.skill-card-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.25s ease;
    text-align: center;
}

.skill-card-overlay > div
{
    margin-top: 25%;
    font-size: 5rem;
    font-weight: bold;
    color: white;
}


.skill-card:hover .skill-card-overlay
{
    opacity: 1;
}

@media (max-width: 576px) 
{
    .skill-card > img
    {
        width: 16rem; 
        height: 12rem;
    }

    .skill-card-overlay > div{font-size: 1.25rem;}
}