@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root
{
    /* Palette */
    --eggshell: #f4f1deff;
    --burnt-sienna: #e07a5fff;
    --delft-blue: #3d405bff;
    --cambridge-blue: #81b29aff;
    --sunset: #f2cc8fff;
}

.bg-eggshell{background-color: var(--eggshell);}
.bg-sienna{background-color: var(--burnt-sienna);}
.bg-delft-blue{background-color: var(--delft-blue);}
.bg-cambridge-blue{background-color: var(--cambridge-blue);}
.bg-sunset{background-color: var(--sunset);}

.text-eggshell{color: var(--eggshell);}
.text-sienna{color: var(--burnt-sienna);}
.text-delft-blue{color: var(--delft-blue);}
.text-cambridge-blue{color: var(--cambridge-blue);}
.text-sunset{color: var(--sunset);}

*
{
    margin: 0px;
    padding: 0px;
    font-family: "Nunito", sans-serif;
}

body{background-color: var(--eggshell);}

#content-page
{
    margin-left: var(--profile-section-width);
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#content-page > h1
{
    font-weight: 800;
    font-size: 2.5rem;
}

@media (max-width: 576px)
{
    #content-page{margin-left: 0px;}
    #content-page > h1{margin-top: 1rem;}
}